<button class="navbar-toggler d-md-none" type="button" data-toggle="collapse" data-target="#docs-menu"
        aria-controls="docs-menu" aria-expanded="false" aria-label="Toggle docs navigation">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
</button>
<nav role="navigation" aria-label="Docs" id="docs-menu" class="collapse bd-links">
{% assign sections = site.pages | group_by: 'section' | sort: 'name' %}
{% for section in sections %}
    {% if section.name == page.section %}
        {% assign groups = section.items | group_by: 'group' | sort: 'name' %}
        {% for group in groups %}
            {% unless group.name == '' %}
                {% assign items = group.items | sort: 'order' %}

                {% if group.name == page.group %}
                    {%- assign active = 'active' -%}
                {% endif %}

                <div class="bd-toc-item {{active}}">
                    <a class="bd-toc-link" href="{{ items.first.url | prepend: site.baseurl | replace: '//', '/' }}">{{ group.name }}</a>
                    {% if group.name == page.group %}
                        <ul class="nav bd-sidenav">
                            {% for item in items %}
                                {%- assign active = nil -%}
                                {%- if page.url == item.url -%}
                                    {%- assign active = 'active bd-sidenav-active' -%}
                                {%- endif -%}

                                <li class="{{active}}">
                                    <a href="{{ item.url | prepend: site.baseurl | replace: '//', '/' }}">{{ item.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endunless %}
        {% endfor %}
    {% endif %}
{% endfor %}
</nav>
