{% if page.section_title %}
    {% assign title = page.section_title %}
{% else %}
    {% assign title = site.title %}
{% endif %}

{% if page.section_description %}
    {% assign description = page.section_description %}
{% else %}
    {% assign description = site.description %}
{% endif %}
<header role="banner" aria-label="{{title}}" class="section-header bg-light">
    <h1>{{title}}</h1>
    <p>{{description}}</p>

    {% if page.section_nav %}
        {% assign nav = page.section_nav %}
    {% else %}
        {% assign nav = site.nav %}
    {% endif %}

    {% if nav %}
        <nav role="navigation" aria-label="{{title}}">
            <ul class="nav nav-tabs">
                {% for item in nav %}
                {% if page.url contains item.active_when %}
                {%- assign active = 'active' -%}
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link {{active}}" href="{{ item.url | prepend: site.baseurl | replace: '//', '/' }}" alt="{{ item.title }}">{{ item.title }}</a>
                </li>

                {%- assign active = nil -%}
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
</header>
