{% if include.nav %}
    {% assign nav = include.nav %}
{% else %}
    {% assign nav = site.nav %}
{% endif %}

{% if nav %}
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            {% for item in nav %}
            <li class="nav-item">
                <a class="nav-link" href="{{ item.url | prepend: site.baseurl | replace: '//', '/' }}" alt="{{ item.title }}">{{ item.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
{% endif %}
